{% assign thesis = site.data.thesis %}

<div class="publication-item thesis-item">
  <div class="publication-header">
    <div class="publication-title-row">
      <span class="publication-year">{{ thesis.year }}</span>
      <span class="publication-title">{{ thesis.title }}</span>
    </div>
    <div class="publication-links">{% include pub-links.html links=thesis.links %}</div>
  </div>
  <p class="publication-authors"><strong>{{ thesis.degree }}</strong></p>
  <ul class="publication-notes">
    <li>Supervisor: {% include author.html author=thesis.supervisor %}</li>
    <li>Committee: {% for member in thesis.committee %}{% include author.html author=member %}{% unless forloop.last %}, {% endunless %}{% endfor %}</li>
  </ul>
</div>
