---
---

@import "{{ site.theme }}";

nav a{
    text-decoration:none;
    color:#ffffff; 
    font-size:18px; 
    display:inline-block; 
    transition: all 0.5s ease 0s;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
}

nav a.current {
    pointer-events: none;
    text-decoration: underline;
    font-size: 20px;
    // border: 2px solid white;
    // padding: 5px;
}

h1 {
    color: #ffffff;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin: 0 0 0.5em
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}