---
---

@import "{{ site.theme }}";

nav a{
    float:right;
    text-decoration:none;
    color:#ffffff; 
    font-size:18px; 
    display:inline-block; 
    transition: all 0.5s ease 0s;
    margin-right:17%;
}

h1 {
    color: #ffffff;
}